service firebase.storage {
  match /users/{userId}/{imageId} {
    allow read: if request.auth.uid == userId;
    allow write: if request.auth.uid == userId;
  }
}


